@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background: #1a202c;
}

header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  background-color: #e6f5ff;
}

.menu-lateral {
  width: 200px;
  height: 100vh;
  background: #949da5;
  padding: 40px 0 40px 1%;
  box-shadow: 3px 0px 0px #e6f5ff;

  position: fixed;
  top: 0;
  left: -300px;
  transition: ease-in-out 0.5s;
  z-index: 1;
}

.active {
  width: 300px;
  left: 0;
  transition: ease-in-out 0.5s;
}

.btn-expandir {
  width: 100%;
  padding: 25px;
}

.btn-expandir > i {
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
}

ul {
  height: 100%;
}

ul li.item a {
  color: #e6f5ff;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
}

ul li.ativo {
  background: #e6f5ff;
}

ul li.item a .text-link {
  margin-left: 35px;
}

ul li.item a .icon > i {
  font-size: 25px;
}

ul li.item:hover {
  background: #e6f5ff;
  border-radius: 10px;
  width: 280px;
  transition: 0.5s;
}

ul li.item:hover a {
  color: #1a202c;
  transition: 0.5s;
}

header .logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 300px;
  height: 75px;
  transform: translateX(-50%);
}

.logo img {
  width: 100%;
}

.lupa {
  padding: 25px;
}

.lupa > i {
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
}







.capas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.capa {
  flex: 0 0 290px; /* Largura fixa de 250px para cada capa */
  margin:  30px; /* Espaçamento entre as capas */
  background-size: cover;
  background-position: center;
  position: relative; /* Remova a propriedade absolute */
  box-shadow: 7px 7px 4px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
 
  width: 300px;
  height: 350px;
}

.jogo{
  position: relative;
    top: 23rem;
    color: #fff;
    bottom: 10px;
    font-size: 1rem;
}


.search{
  position: absolute;
  top: 25px;
  right: 25px;

  display: flex;
  justify-content: center;
}
  
.submit{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  
  font-size: 1.5rem;
  margin: 0 10px;
}

.search-txt{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 1.5rem;
  width: 0px;
  transition: 0.4s;
}

.abrir{
  width: 250px;
  padding: 0 10px;
  border-bottom: 1px solid #626262;
}

.abrir > .search-txt{
  width: 200px;
  padding: 0 10px;
  z-index: 99;
  background-color: #E6F5FF;
  color: #000;
}

@media screen and (max-width: 768px) {
  header {
    height: 75px;
  }

  header .logo {
    width: 200px;
    height: 75px;
    top: 15px;
  }

  header .menu-lateral {
    position: fixed;
    z-index: 999;
  }
  .capas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .capa{
    flex: 0 0 100px; /* Largura fixa de 250px para cada capa */
    margin:  30px; /* Espaçamento entre as capas */
    background-size: cover;
    background-position: center;
    position: relative; /* Remova a propriedade absolute */
    box-shadow: 7px 7px 4px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
   
    width: 150;
    height: 150px;
  }

  .jogo{
    position: relative;
      top: 10rem;
      color: #fff;
      bottom: 10px;
      font-size: 0.6rem;
  }



}
