@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background: #1a202c;
}

main {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
}

header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    background-color: #e6f5ff;
}

.menu-lateral {
    width: 200px;
    height: 100vh;
    background: #949da5;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #e6f5ff;

    position: fixed;
    top: 0;
    left: -300px;
    transition: ease-in-out 0.5s;
    z-index: 1;
}

.active {
    width: 300px;
    left: 0;
    transition: ease-in-out 0.5s;
}

.btn-expandir {
    width: 100%;
    padding: 25px;
}

.btn-expandir > i {
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
}

ul li.item a {
    color: #e6f5ff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.ativo {
    background: #e6f5ff;
}

ul li.item a .text-link {
    margin-left: 35px;
}

ul li.item a .icon > i {
    font-size: 25px;
}

ul li.item:hover {
    background: #e6f5ff;
    border-radius: 10px;
    width: 280px;
    transition: 0.5s;
}

ul li.item:hover a {
    color: #1a202c;
    transition: 0.5s;
}

header .logo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    height: 75px;
    transform: translateX(-50%);
}

.logo img {
    width: 100%;
}

.lupa {
    padding: 25px;
}

.lupa > i {
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
}

main{
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
}

.capas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
     min-height: calc(100vh - 10vh - 50px); /* Desconta a altura do footer */
  margin-bottom: 5vh;
}


.capa {
    flex: 0 0 250px; /* Largura fixa de 250px para cada capa */
    margin: 30px; /* Espaçamento entre as capas */
    background-size: cover;
    background-position: center;
    position: relative; /* Remova a propriedade absolute */
    box-shadow: 0 0 1em #000;
    border-radius: 1px;
    width: 300px;
    height: 350px;
    cursor: pointer;
}

.jogo {
    position: relative;
    top: 23rem;
    color: #fff;
    bottom: 10px;
    font-size: 1rem;
}


.search {
    position: absolute;
    top: 25px;
    right: 25px;

    display: flex;
    justify-content: center;
}

.submit {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 1.5rem;
    margin: 0 10px;
}

.search-txt {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    width: 0;
    transition: 0.4s;
}

.abrir {
    width: 250px;
    padding: 0 10px;
    border-bottom: 1px solid #626262;
}

.abrir > .search-txt {
    width: 200px;
    padding: 0 10px;
    z-index: 99;
    background-color: #E6F5FF;
    color: #000;
}

footer {
    width: 40rem;
    
    border-radius: 50px;
    background-color: #fcfcfc;
    color: #121212;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.menu-footer{
    display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-footer i{
    margin: 0 10px;
    font-size: 2rem;
    color: #121212;
    
}

.menu-footer i:hover{
    color: #626262;
    transition: 0.5s;
}

.nenhumjogo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    font-size: 1.7rem;
    color: #ffffff;
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        height: 75px;
    }

    header .logo {
        width: 200px;
        height: 75px;
        top: 15px;
    }

    header .menu-lateral {
        position: fixed;
        z-index: 999;
        width: 200px;
    }

    ul li.item:hover {
        width: 200px;
    }


    .capas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }

    .capa {
        flex: 0 0 140px;
        margin: 20px; /* Espaçamento entre as capas */
        background-size: cover;
        background-position: center;
        position: relative; /* Remova a propriedade absolute */

        border-radius: 1px;

        width: 150px;
        height: 150px;
    }

    .jogo {
        position: relative;
        top: 10rem;
        color: #fff;
        bottom: 10px;
        font-size: 0.6rem;
    }

    .mobile {
        position: absolute;
        width: 100%;
        padding: 30px;
        left: 0;

        border-radius: 10px;
        display: flex;
        justify-content: center;
        z-index: 1;
    }

    footer{
        background-color: rgb(0, 0, 0, 0);
    }

    .menu-footer {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
        height: 50px;
        left: 0;
        bottom: 0;
        background: #ffffff;
        
        display: flex;
        justify-content: space-around;
        display: inline-flex;
        flex: 1;
    }

    .menu-footer ul {
        display: flex;

    }

    .menu-footer i{
        margin: 0 10px;
        font-size: 2rem;
        color: #121212;
    }

    .nenhumjogo{
        font-size: 1.3rem;
        text-align: center;
    }

}
