@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    background: #1A202c;
}

header{
    display: flex;
    justify-content: space-between;
    height: 75px;
    background-color: #E6F5FF;
    
}

.menu-lateral{
    width: 200px;
    height: 100vh;
    background: #949da5;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0px 0px #E6F5FF;

    position: fixed;
    top: 0;
    left: -300px;
    transition: ease-in-out 0.5s;
    z-index: 1;
    

}

.active{
    width: 300px;
    left: 0;
    transition: ease-in-out 0.5s;
}



.btn-expandir{
    width: 100%;
    padding: 25px;
}

.btn-expandir > i{
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;

}

ul li.item a{
    color: #E6F5FF;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.ativo{
    background: #E6F5FF;
}

ul li.item a .text-link{
    margin-left: 35px;
}

ul li.item a .icon > i{
    font-size: 25px;
}

ul li.item:hover{
    background: #E6F5FF;
    border-radius: 10px;
    width: 280px;
    transition: 0.5s;
}

ul li.item:hover a{
    color: #1A202c;
    transition: 0.5s;
}

header .logo{
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    height: 75px;
    transform: translateX(-50%);
}

.logo img{
    width: 100%;
    
}

.lupa{
    padding: 25px;
    
}

.lupa > i{
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.cabecalho{
    position: absolute;
width: 1802px;
height: 60px;
left: calc(50% - 1802px/2 + 9px);
top: 103px;

background: #18181A;
border-radius: 40px;
}



.order{
    position: absolute;
    width: 265px;
    height: 40px;
    left: 45px;
    top: 10px;
    color: #fff;
    font-size: 1.9rem;
    background: #18181A;  
    outline: none;
    border: none;
}

@media screen and (max-width: 768px){
    header{
        height: 75px;
    }

    header .logo{
        width: 200px;
        height: 75px;
        top: 15px;
    }

    header .menu-lateral{
        position: fixed;
        z-index: 999;
    }
    
     
}


#order{
    position: absolute;
width: 265px;
height: 40px;
left: 350px;
top: 10px;
color: #fff;
font-size: 1.9rem;
background: #18181A;  
outline: none;
border: none;
}

.capas{
    display: flex;
    flex-direction: row;
}

.capa1{
    position: absolute;
left: 4%;

top: 23%;
bottom: 0%;
box-shadow: 7px 7px 4px 2px rgba(0, 0, 0, 0.5);
border-radius: 5px;
background: url(../img/codmw2.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 300px;
height: 350px;
}

.capa2{
    position: absolute;
left: 24%;
top: 23%;
bottom: 0%;
box-shadow: 7px 7px 4px 2px #00000080;
border-radius: 5px;
background: url(../img/gtasa.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 300px;
height: 350px;
}

.capa3{
    position: absolute;
left: 44%;
top: 23%;
bottom: 0%;
box-shadow: 7px 7px 4px 2px #00000080;

border-radius: 5px;
background: url(../img/forza.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 300px;
height: 350px;
}

.capa4{
    position: absolute;
left: 64%;
top: 23%;
bottom: 0%;
box-shadow: 7px 7px 4px 2px #00000080;

border-radius: 5px;
background: url(../img/mk.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 300px;
height: 350px;
}

.capa5{
    position: absolute;
left: 84%;
top: 23%;
bottom: 0%;
box-shadow: 7px 7px 4px 2px #00000080;

border-radius: 5px;
background: url(../img/zelda.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 300px;
height: 350px;
}

.jogo1, .jogo2,.jogo3, .jogo4, .jogo5{
    position: absolute;
    color: #fff;
top: 105%;
font-size: 1rem;
bottom: 0%;
}


.ponto1, .ponto2, .ponto3, .ponto4, .ponto5{
    position: absolute;
    color: #fff;
    top: 102%;
font-size: 1.5rem;
bottom: 0%;
right: 1%;
letter-spacing: 5px;
}


.ponto6, .ponto7, .ponto8, .ponto9, .ponto10{
    position: absolute;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 2px;
    transform: rotate(90deg);
    left: 90%;
}
 
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 15px;
}

footer .fa-house{
    font-size: 2rem;
    color: #000000;
    margin: 0 20px;
    cursor: pointer;
    background-color: #E6F5FF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .fa-gamepad{
    font-size: 2rem;
    color: #000000;
    margin: 0 20px;
    cursor: pointer;
    background-color: #E6F5FF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-xbox, .fa-playstation, .fa-nintendo-switch, .fa-square-steam{
    font-size: 1.8rem;
    color: #fff;
    padding-left: 4px;
    padding-top: 5px;
    margin-left: 10px;
}

span.xbox, .steam, .nintendo{
    font-size: 1.4rem;
    padding: 7px;
    gap: 10px;
}



.retangulo{
position: absolute;
left: 0%;
right: 55%;

background: #000000;
border-radius: 5px 0px 20px;

}


.retangulo2{
    position: absolute;
left: 0%;
right: 52%;
margin-bottom: 20%;
background: #ffffff;
border-radius: 5px 0px 20px;
}

.epic, .nintendo-logo{
    width: 28px;
    color: #fff;
    padding-left: 4px;
    padding-top: 5px;
    margin-left: 10px;  
}

.epic-games{
    font-weight: bolder;
    padding: 2px;
}

.nintendo{
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 2px;
}

#searchInput{
position: absolute;
left: 88%;
border: none;
bottom: 94%;
width: 8%;
height: 4%;
border-radius: 2px;
background-color: #E6F5FF;
display: none;

}

#searchInput::placeholder{
    font-size: 1rem;
    padding-left: 5px;
}

#searchInput:focus{
    outline: none;
    border-bottom: 1px solid #626262;
}

