@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(255deg, #1f1f1f, #2e2e2e, #3d3d3d);
}

.container {
  width: 90%;
  height: 90vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}

.texto-gamemate {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background: #626262;
}

.texto-gamemate h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.texto-gamemate p {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

form {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  background-color: #e6f5ff;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.form-header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.input-box {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
}

.input-box input {
  margin: 0.6rem;
  width: 100%;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #3d3d3d;
}

.input-box label {
  position: absolute;
  transform: translateY(-20px);
  margin-left: 10px;
  color: #000000be;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.4s ease;
}

.input-box input::placeholder {
  color: #000000be;
}

.fa-eye,
.fa-eye-slash {
  position: relative;
  right: -550px;
  top: -45px;
  cursor: pointer;
  padding-right: 3px;
  user-select: none;
}

.login {
  width: 362.77px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  background: #626262;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  gap: 15px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.login:hover {
  background: #3d3d3d;
}

.login a {
  color: #fff;
}

.line-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  color: rgba(0, 0, 1, 0.5);
}

.line-wrapper:before,
.line-wrapper:after {
  flex-grow: 1;
  display: inline-block;
  content: "";
  height: 1px;
  background: currentColor;
}

.line-title {
  width: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  color: #000;
}

.login-google button {
  width: 362.77px;
  height: 54px;
  top: 687px;
  left: 1293.82px;
  border-radius: 10px;
  gap: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.login-google button:hover {
  background: #eeeeee;
}

.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

}

.register {
  padding: 20px;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.register a {
  color: #4c4c4c;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bolder;
}

.register a:hover {
  color: #3d3d3d;
}

#userError,
#passwordError {
  margin-top: 5px;
  width: 345px;
  font-size: 16px;
  color: #c62828;
  display: none;
}

.esqueceu{
  position: relative;
  bottom: 3em;
  left: 10.5em;
  font-size: 1.1rem;
}

.esqueceu a{
  color: #545454e4;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bolder;
  
}

@media screen and (max-width: 1330px) { 
  .texto-gamemate {
    width: 50%;
  }

  .container {
    width: 50%;
  }
  .form {
    width: 100%;
  }

  .login {
    width: 362.77px;
    height: 54px;
  }

  .fa-eye,
  .fa-eye-slash {
    right: -190px;
    top: -45px;
  }

  .login-google button {
    width: 200px;
    height: 40px;
  }

  .register {
    font-size: 1rem;
  }

  .register a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1064px) {
  .container {
    width: 90%;
    height: auto;
  }
  .input-group {
    flex-direction: column;
    overflow-y: scroll;
    flex-wrap: nowrap;
    max-height: 10rem;
    padding-right: 5rem;
  }

  .input-box {
    margin-bottom: 0.5rem;
  }

  .fa-eye,
  .fa-eye-slash {
    right: -230px;
    top: -45px;
  }
}


@media screen and (max-width: 768px) {
  section{
    width: 100%;
  }
  .texto-gamemate{
    display: none;
  }

  .input-group{
    overflow-y: hidden;
  }
  
  .input-box{
    width: 100%;
  }

  .input-box input{
    width: 15em;
    margin-left: 10vh;
  }

  .input-box label{
    font-size: 1rem;
    left: 50px;
    top: 5px;
  }

  .fa-eye, .fa-eye-slash{
    position: absolute;
    top: 3vh;
    right: 3vh;
    padding: 5px;
  }


  form{
    width: 100%;
  }

  .login{
    width: 200px;
    height: 40px;
  }

  #passwordError{
    width: 100%;
   }

   .esqueceu{
    position: relative;
    top: -0.5em;
    left: -0.1em;

   }

    .esqueceu a{
      font-size: 0.9rem;
    }

    .register{
      text-align: center;
    }
}