@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background: #0C1826;
    visibility: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    background-color: #E6F5FF;

}

.menu-lateral {
    width: 200px;
    height: 100vh;
    background: #949da5;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #E6F5FF;

    position: fixed;
    top: 0;
    left: -300px;
    transition: ease-in-out 0.5s;
    z-index: 1;


}

.active {
    width: 300px;
    left: 0;
    transition: ease-in-out 0.5s;
}


.btn-expandir {
    width: 100%;
    padding: 25px;
}

.btn-expandir > i {
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;

}

ul li.item a {
    color: #E6F5FF;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.ativo {
    background: #E6F5FF;
}

ul li.item a .text-link {
    margin-left: 35px;
}

ul li.item a .icon > i {
    font-size: 25px;
}

ul li.item:hover {
    background: #E6F5FF;
    border-radius: 10px;
    width: 280px;
    transition: 0.5s;
}

ul li.item:hover a {
    color: #1A202c;
    transition: 0.5s;
}

header .logo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    height: 75px;
    transform: translateX(-50%);
}

.logo img {
    width: 100%;

}

.lupa {
    padding: 25px;

}

.lupa > i {
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
}

main {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

.imagem-jogo {
    position: absolute;
    width: 430px;
    height: 197px;
    left: 97px;
    top: 120px;
}

.gamecover {
    width: 430px;
    height: 197px;
    border-radius: 25px;
}

.titulo-jogo {
    position: absolute;
    left: 30px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

.adicionarJogo {
    position: relative;
    top: 40px;
    border-radius: 25px;
    width: 160px;
    height: 35px;
    background-color: #002664;
    color: #35B4FB;
    letter-spacing: 3px;
    text-align: center;
    padding: 7px;
    cursor: pointer;
}

.fa-list {
    position: relative;
    top: 7px;
    left: 230px;
    background-color: #002664;
    color: #35B4FB;
    width: 65px;
    height: 33px;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
}

.fa-ellipsis {
    position: relative;
    top: 6px;
    left: 240px;
    background-color: #002664;
    color: #35B4FB;
    width: 65px;
    height: 35px;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
}

.line-wrapper {
    position: absolute;
    width: 430px;
    height: 0;
    right: 95px;
    top: 290px;
    left: 5px;
    border: 1px solid #4285F4;
}

.sobre {
    color: #fff;
    position: relative;
    top: 40px;
    text-align: center;

}

.infos {
    position: relative;
    top: 40px;
}

.lancamento, .metacritic, .produtora, .publicadora {
    color: #fff;
}

.cor {
    color: #35B4FB;
}

.generos {
    position: relative;
    color: #fff;
    top: 2rem;
}

.tipos {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 470px;
    color: #fff;
    top: 470px;
    gap: 5px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.genero {
    position: relative;
    top: 40px;
    width: 150px;
    height: 40px;
    background-color: #002664;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
    flex-wrap: wrap;
    color: #35B4FB;
}

.plataformas {
    position: relative;
    color: #fff;
    top: 11rem;
}

.empresas {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 470px;
    color: #fff;
    top: 19rem;
    gap: 5px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.plataforma {
    position: relative;
    top: 21rem;
    width: 150px;
    height: 40px;
    left: 0;
    background-color: #002664;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
    flex-wrap: wrap;
    color: #35B4FB;
}




.descricao-jogo img {
    width: 800px;
    height: 350px;
    border-radius: 10px;
    position: relative;
    left: 300px;
}

.sobre-jogo {
    position: relative;
    color: #fff;
    font-weight: 300;
    left: 300px;
    font-size: 0.9em;
}

.search {
    position: absolute;
    top: 25px;
    right: 25px;

    display: flex;
    justify-content: center;
}

.submit {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 1.5rem;
    margin: 0 10px;
}

.search-txt {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    width: 0;
    transition: 0.4s;
}

.abrir {
    width: 250px;
    padding: 0 10px;
    border-bottom: 1px solid #626262;
}

.abrir > .search-txt {
    width: 200px;
    padding: 0 10px;
    z-index: 99;
    background-color: #E6F5FF;
    color: #000;
}

footer {
    display: none;
}

@media screen and (max-width: 768px) {
    

    header {
        height: 75px;
    }

    header .logo {
        width: 200px;
        height: 75px;
        top: 15px;
    }

    header .menu-lateral {
        position: fixed;
        z-index: 999;
        width: 200px;
    }

    header .menu-lateral.active {
        z-index: 9999;
    }

    ul li.item:hover {
        width: 12.5em;
    }

    main {
        width: 100%;
    }

    .imagem-jogo {
        position: relative;
        width: 100%;
        height: 197px;
        left: 0;
        top: 0;
    }

    .gamecover {
        width: 300px;
        height: 197px;
        border-radius: 10px;
    }

    .tipos {
        top: 69vh;
        width: 100%;
    }

    h5 {
        position: relative;
        top: 40px;
        border-radius: 25px;
        width: 160px;
        height: 35px;
        background-color: #002664;
        color: #35B4FB;
        letter-spacing: 2px;
        text-align: center;
        padding: 7px;
    }

    .fa-list {
        position: relative;
        top: 7px;
        left: 165px;
        background-color: #002664;
        color: #35B4FB;
        width: 65px;
        height: 33px;
        border-radius: 25px;
        text-align: center;
        padding: 10px;
    }

    .fa-ellipsis {
        position: relative;
        top: 6px;
        left: 165px;
        background-color: #002664;
        color: #35B4FB;
        width: 65px;
        height: 35px;
        border-radius: 25px;
        text-align: center;
        padding: 10px;
    }

    .line-wrapper {
        width: 39vh;
    }

    .genero{
        top: -2vh;
    }

    .plataformas{
        top: 33vh;
    }

    .plataforma{
        top: 55vh;
    }

    .empresas{
        position: relative;
        top: -10rem;
        left: -1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .descricao-jogo {
        position: relative;
        right: 300px;
        top: 70vh;
    }

    .descricao-jogo img {
        width: 300px;
        height: 200px;
        border-radius: 10px;
        position: relative;
        top: 13em;
    }

    .sobre-jogo {
        position: relative;
        color: #fff;
        font-weight: 300;
        left: 21em;
        font-size: 0.9em;
        top: 14em;
        width: 300px;

    }

    .sobre-jogo p {
        text-align: start;
    }

    footer {
        position: absolute;
        width: 100%;
        padding: 30px;
        left: 0;

        border-radius: 10px;
        display: flex;
        justify-content: center;

    }


    .menu-footer {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
        height: 50px;

        left: 0;
        bottom: 0;
        background: #ffffff;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        display: inline-flex;
        flex: 1;
    }

    .menu-footer ul {
        display: flex;

    }

    .menu-footer i {
        position: relative;


        color: #121212;
        font-size: 1.8rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        top: -2px;

    }
}

@media (min-width:1366px) and (max-width: 1400px) {
    .sobre-jogo{
        width: 100vh;
        left: 60vh;
    }

    .descricao-jogo img{
        width: 100vh;
        height: 45vh;
        left: 60vh;
    }
}